<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobilis</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid">
        <header>
            <h1>Mobilis</h1>
        </header>
        <main>
            <article class="form-article article">
                <form id="form" class="card-text">
                    <div class="input-location card-text-section">
                        <label for="location">Going to</label>
                        <input id="location" type="text" required>
                    </div>
                    <div class="input-dates card-text-section" id="input-dates">
                        <label for="depart">Leaving <span class="description-date">
                            Please use the YYYY-MM-DD format.</span>
                        </label>
                        <input id="depart" type="date"
                        pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" required>
                        <label for="return">Coming back <span class="description-date">
                            Please use the YYYY-MM-DD format.</span></label>
                        <input id="return" type="date"
                        pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" required>
                    </div>
                    <button id="go" type="submit">Let's Go!</button>
                </form>
            </article>
            <article class="article hidden-display">
                <div class="close"></div>
                <div class="card-text">
                    <div class="card-meta card-text-section">
                        <div id="location" class="uiData location"></div>
                        <img id="iconImg" class="uiData iconImg">
                        <div id="desc" class="uiData desc"></div>
                        <div id="temp" class="uiData temp"></div>
                    </div>
                    <div class="card-info card-text-section">
                        <h3>You are leaving on</h3><span id="tripStart" class="uiData"></span>
                        <h3>And coming back home on</h3><span id="tripEnd" class="uiData"></span>
                        <h3>Your trip will last</h3><span id="tripLength" class="uiData"></span>
                        <!-- <div id="daysToDeparture" class="uiData"></div> -->
                    </div>
                    <button type="button">PRINT</button>
                </div>
            </article>
        </main>
        <footer>
            &copy;2020
        </footer>
    </div>
    <script src="app.js"></script>
</body>
</html>