@import "./normalize.scss";
@import "./reset.local.scss";

html {
    min-height: 100%;
}

body {
    font-family: 'Calibri', 'Arial', sans-serif;
    height: 100%;
    background-image: url('../media/maps_by_ruthie.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas:
        '. h .'
        '. m .'
        '. f .';
    width: 100vw;
    min-height: 100vh;
}

header {
    grid-area: h;
    font-size: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

main {
    grid-area: m;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

footer {
    grid-area: f;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgba(202, 209, 225, 0.7);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidden-display {
    position: relative;
    display: none;
}

#img {
    width: 100%;
    max-height: 230px; //fit-content or try background
}

.hidden-display .card-text {
    width: 100%;
    color: rgb(91, 111, 110);
}

.hidden-display h3 {
    font-size: 1.5rem;
    text-align: left;
    padding: .5rem;
    color: #fff;
}

.hidden-display span {
    font-size: 1.3rem;
    padding: .5rem;
    margin-right: auto;
    color: rgb(104, 101, 87);
}

.hidden-display button {
    color: #fff;
    background-color: rgb(100, 159, 167);
    margin: 1rem auto;
    width: 80%;
}

.hidden-display .card-info {
    align-items: center;
    justify-content: center;
}

.form-article {
    text-align: left;
}

.card-img img {
    border-radius: 8px 8px 0 0;
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.card-text-section {
    display: flex;
    flex-direction: column;
}

.card-meta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'l l'
        'i t'
        'd t';
}

.location {
    grid-area: l;
    font-size: 2rem;
    text-align: left;
    padding: 1rem;
    color: rgb(104, 101, 87);
}

.iconImg {
    grid-area: i;
    width: 60px;
    justify-self: center;
}

.desc {
    grid-area: d;
}

.temp {
    grid-area: t;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
    color: #fff;
}

label {
    display: block;
    color: rgb(91, 111, 110);
    font-size: 1.5rem;
    margin: 1rem 0 .5rem 0;
}

input {
    border-radius: 8px;
    color: rgb(97, 127, 127);
    border: none;
    padding: .5rem;
    width: 100%;
}

button {
    border-radius: 8px;
    font-size: 1.5rem;
    // margin: 0 auto;
    background-color:  rgb(97, 127, 127);
    padding: .5rem;
    margin: 2rem 0
}

.date-supported .description-date {
    display: none;
}

#errorMsg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
    padding: 2rem;
    color: #fff;
    font-size: 1.5rem;
    background-color: rgba(133, 143, 141, 0.9);
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    color: #fff;
}

.close::before,
.close::after {
    position: absolute;
    content: " ";
    width: 2px;
    height: 2rem;
    left: 1rem;
    background-color: #fff;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

@media (min-width: 480px) and (max-width: 767px){
    .hidden-display {
        width: 70%;
        margin: 0 auto;
    }

    .hidden-display button {
        margin: 0 auto 2rem auto;
        width: 70%;
    }

    #img {
        min-height: 350px;
    }

    .card-meta {
        padding-bottom: 2rem;
    }

    .temp {
        font-size: 4rem;
    }

    .desc {
        font-size: 1.5rem;
    }

    .location {
        font-size: 3rem;
    }

    .iconImg {
        width: 65%;
    }

    .hidden-display h3,
    .hidden-display span {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: '. a';
    }

    .article {
        grid-area: a;
        top: 0;
        transform: none;
    }

    .card-text {
        width: 100%;
    }

    .card-text-section {
        padding: 0 3rem;
    }

    label {
        padding: 1rem 0 .5rem 0;
        font-size: 1.75rem;
    }

    button {
        width: 75%;
        margin: 4rem auto;
    }

    header {
        font-size: 2.5rem;
    }

    footer {
        font-size: 1.5rem;
    }

    .desc {
        font-size: 1.5rem;
    }

    .card-info {
        font-size: 2rem;
    }
    .hidden-display .card-meta {
        padding: 0 2rem;
    }
}

@media (min-width: 1024px) {
    input {
        padding: 1rem;
    }

    button {
        font-size: 2rem;
        width: 80%;
        padding: 1rem;
    }

    #img {
        max-height: 500px;
    }

    .location {
        font-size: 2.5rem;
    }

    .temp {
        font-size: 5rem;
    }

    .hidden-display h3,
    .hidden-display span {
        font-size: 2.5rem;
    }

    .hidden-display .card-info {
        padding-top: 1rem;
    }

    .hidden-display button {
        margin: 4rem auto;
    }
}

